<%- include ("partials/header") -%>
    <div class="container-fluid main">
        <p class="sign">Login</p>
        
        <form action="/login" method="post" class="form1">
            <!-- <label for="username" class="form-label">
                Username
            </label> -->
            <input id="username" type="text" name="name" class="form-control un" placeholder="Username">
            <!-- <label for="password" class="form-label">
                Password
            </label> -->
            <input id="password" type="password" name="password" class="form-control pass" placeholder="Password">
           <div><button id="login" type="submit" class="btn btn-primary submit" disabled>Login</button></div>
        </form>
        <% if (error !== "") { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <div class="redirect">
            <form action="/register">
                <label for="register-button">
                    Don't have Account? <button id="register-button" type="submit" class="btn btn-secondary btn-sm">Register here</button>
                </label>
            </form>
        </div>
    </div>

    <script src="js/login.js"></script>

<%- include ("partials/footer") -%>
