<%- include ("partials/header") -%>

    <div class="container-fluid main2">
        <p class="sign">Register</p>
        <form action="/register" method="POST">
            <!-- <label for="username" class="form-label">
                Username
            </label> -->
            <input id="username" type="text" name="name" class="form-control un" placeholder="Username">
            <!-- <label for="password" class="form-label validate" data-error="wrong" data-success="right">
                Password
            </label> -->
            <input id="password" type="password" name="password" class="form-control validate pass" placeholder="Password" required>
            <div class="col-md-12">
                <div class="alert alert-warning password-alert" role="alert">
                    Your password must contain the following:
                    <ul>
                        <li class="requirements leng"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> At least 8 characters.</li>
                        <li class="requirements uppercase-letter"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> At least 1 uppercase letter.
                        </li>
                        <li class="requirements num"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> At least 1 number.</li>
                        <li class="requirements special-char"><i class="fas fa-check green-text"></i><i
                                class="fas fa-times red-text"></i> At least 1 special characters.</li>
                    </ul>
                </div>
            </div>
            <div><button id="register" type="submit" class="btn btn-primary submit" disabled>Register</button></div>
        </form>
        <% if (error !== "") { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
        <div class="redirect">
        <form action="/login">
            <label for="login-button">
                Already have an account? <button id="login-button" type="submit" class="btn btn-secondary btn-sm">Login here</button> 
            </label>
        </form>
        </div>
    </div>
    <script src="js/register.js"></script>

<%- include ("partials/footer") -%>
